<html>
    <head>
        <title>wastebin ♻</title>
    </head>
    <style type="text/css">
        body {
            font-family: monospace;
        }

        textarea {
            display: block;
        }
    </style>
    <body>
        <h1>wastebin ♻</h1>
        <p>where your pastes go to die</p>
        <form action="waste" method="POST">
            <textarea cols="60" rows="25" name="content"></textarea>
            <input type="submit" value="Add new paste">
        </form>
    </body>
</html>